[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
librosa = "*"
fastapi = "*"
sounddevice = "*"
uvicorn = {extras = ["standard"], version = "*"}
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.10"
